alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
altair==4.2.0
anaconda-client @ file:///tmp/build/80754af9/anaconda-client_1635342557008/work
anaconda-navigator==2.1.1
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1626085644852/work
anyio==3.5.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
asn1crypto==1.5.0
astroid==2.9.3
astropy==5.0.1
asttokens==2.0.5
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
bertopic==0.10.0
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray==2.4.0
bkcharts==0.2
black==22.1.0
bleach==4.1.0
blinker==1.4
blis==0.7.7
bokeh==2.4.2
boto==2.49.0
Bottleneck==1.3.4
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools==5.0.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
charset-normalizer==2.0.12
chart-studio==1.1.0
click==8.0.3
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlover==0.3.0
conda==4.11.0
conda-build==3.21.5
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
contextlib2==21.6.0
cookiecutter==1.7.3
cryptography==36.0.1
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
cytoolz==0.11.2
daal==2021.5.3
daal4py==2021.5.3
dask==2022.2.1
debugpy==1.5.1
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
distributed==2022.2.1
docutils==0.17.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastcache @ file:///tmp/build/80754af9/fastcache_1607571273717/work
filelock==3.6.0
flake8==4.0.1
Flask==2.0.3
fonttools==4.29.1
fsspec==2022.2.0
future @ file:///tmp/build/80754af9/future_1607571303524/work
gevent==21.12.0
gitdb==4.0.9
GitPython==3.1.27
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.1.2
greenlet==1.1.2
h5py==3.6.0
hdbscan==0.8.28
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
huggingface-hub==0.5.1
idna==3.3
imagecodecs==2022.2.22
imageio==2.16.1
imagesize==1.3.0
importlib-metadata==4.11.2
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.9.1
ipython==7.32.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isort==5.10.1
itsdangerous==2.1.1
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.18.1
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish==0.9.0
Jinja2==3.0.3
jinja2-time @ file:///tmp/build/80754af9/jinja2-time_1617751524098/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema==4.4.0
jupyter @ file:///tmp/build/80754af9/jupyter_1607700846274/work
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.3.1
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
keyring==23.5.0
kiwisolver==1.3.2
langcodes==3.3.0
lazy-object-proxy==1.7.1
libarchive-c==4.0
llvmlite==0.38.0
locket==0.2.1
lxml==4.8.0
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools==8.12.0
mpmath==1.2.1
msgpack==1.0.3
multipledispatch @ file:///tmp/build/80754af9/multipledispatch_1607574243360/work
multitasking==0.0.10
munkres==1.1.4
murmurhash==1.0.7
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.3.6
nbclient==0.5.12
nbconvert==6.4.2
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio==1.5.4
networkx==2.7.1
nltk==3.7
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook==6.4.8
notebook-shim==0.1.0
numba==0.55.1
numexpr==2.8.1
numpy==1.21.6
numpydoc==1.2
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
path==16.4.0
pathlib2==2.3.7.post1
pathspec==0.9.0
pathy==0.6.1
patsy==0.5.2
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo==1.8.2
platformdirs==2.5.1
plotly==5.6.0
pluggy==1.0.0
ply==3.11
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
preshed==3.0.6
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.20.1
psutil==5.9.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
py==1.11.0
pyarrow==7.0.0
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.21
pycurl==7.45.0
pydantic==1.8.2
pydeck==0.7.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pyerfa==2.0.0.1
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==2.3.0
pylint==2.12.2
pyls-spyder==0.4.0
Pympler==1.0.1
pynndescent==0.5.6
pyodbc==4.0.32
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5==5.12.3
PyQt5-sip==12.9.1
PyQtWebEngine==5.12.1
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==7.0.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-lsp-black==1.1.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-slugify==6.1.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==5.4.1
pyzmq==22.3.0
QDarkStyle==3.0.2
qstylizer==0.2.1
QtAwesome==1.1.1
qtconsole==5.2.2
QtPy==2.0.1
regex==2022.3.2
requests==2.27.1
retrying==1.3.3
rope==0.23.0
Rtree @ file:///tmp/build/80754af9/rtree_1618420843093/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
sacremoses==0.0.50
scikit-image==0.19.2
scikit-learn==1.0.2
scikit-learn-intelex==2021.20210714.170444
scipy==1.8.0
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1614022780358/work
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.2.0
sentencepiece==0.1.96
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
sip==6.5.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
smmap==5.0.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
snowballstemmer==2.2.0
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.3.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
Sphinx==4.4.0
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==5.2.2
spyder-kernels==2.2.1
SQLAlchemy==1.4.32
srsly==2.4.3
stack-data==0.2.0
statsmodels==0.13.2
streamlit==1.8.1
sympy==1.10
tables==3.7.0
tbb==2021.5.1
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
terminado==0.13.3
testpath==0.6.0
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance==4.2.2
thinc==8.0.15
threadpoolctl==3.1.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile==2022.2.9
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
tinycss2==1.1.1
tokenizers==0.12.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
toolz==0.11.2
torch==1.11.0
torchvision==0.12.0
tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
tqdm==4.63.0
traitlets==5.1.1
transformers==4.18.0
typed-ast==1.5.2
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ujson==5.1.0
umap-learn==0.5.3
unicodecsv==0.14.1
Unidecode==1.3.4
urllib3==1.26.8
validators==0.18.2
wasabi==0.9.1
watchdog==2.1.6
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
whichcraft @ file:///tmp/build/80754af9/whichcraft_1617751293875/work
widgetsnbextension==3.5.2
wrapt==1.14.0
wurlitzer==3.0.2
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter==3.0.3
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf==0.32.0
yfinance==0.1.70
zict==2.1.0
zipp==3.7.0
zope.event==4.5.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625036153595/work
