bertopic==0.9.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2

